#header {
    background: url("../img/header.svg") no-repeat center center;
	height: 47%;
	width: 100%;
	margin: auto;
}

#form_shape {
	border-style: solid;
	border-color: #FFD6A4;
	border-width: 2.5px;
	width: 325px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}

p {
	font-size: 12;
}

.container {
	text-align: center;
}

#searchbar {
	margin-top: 5%;
}

#search {
	border-bottom-style: solid;
	border-color: black;
	border-radius: 1px;
}