#header {
    background: url("../img/header.svg") no-repeat center center;
	height: 50%;
	width: 100%;
	margin: auto;

}

#form_shape {
	border-style: solid;
	border-color: #FFD6A4;
	border-width: 2.5px;
	width: 325px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}

p {
	font-size: 12;
}

.container {
	text-align: center;
	margin-top: 2%;
}


#search {
	border-bottom-style: solid;
	border-color: black;
	border-radius: 1px;
}

.card img {
	width: 70px;
	height: 110px;
}

.card {
	height: 130px;
	overflow: scroll;
}

textarea.materialize-textarea.valid:focus {
	color: #0881A3;
}

#nav-img {
	width: 15vw;
	margin-left: 40px;
	margin-top: 15px;
}

.banner-img {
    display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

section {
	margin: 40px;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #0881A3;
    color: white;
}