#header {
    /* background: url("../img/header.svg") no-repeat center center;
	height: 50%;
	width: 50%;
	/* margin: auto; */
	/* height: 60%; */
}

body {
	font-family: 'Nunito', sans-serif;
}

#form_shape {
	border-style: solid;
	border-color: #FFD6A4;
	border-width: 2.5px;
	width: 325px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}

#form_shape_signup {
	border-style: solid;
	border-color: #FFD6A4;
	border-width: 2.5px;
	width: 500px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	margin-top: 60px;
	margin-bottom: 60px;
}


p {
	font-size: 14px;
}

/* below style is not effective */
.container {
	/* text-align: center; */
	/* margin-top: 2%; */
	width: 85%;
}


#search {
	border-bottom-style: solid;
	border-color: black;
	border-radius: 1px;
}

.card img {
	width: 70px;
	height: 110px;
}

.card {
	height: 130px;
	overflow: hidden;
}

textarea.materialize-textarea.valid:focus {
	color: #0881A3;
}

#tableHeader {
	background-color: #0881A3;

}

#tableHeader btn {
	background-color: #FDE9DF;
}

#nav-img {
	/* width: 15vw; */
	width: auto;
	height: 40px;
	margin-left: 35px;
	margin-top: 13px;
	margin-bottom: 10px;
	float: left;
}

.banner-img {
	display: block;
	width: 65%;
	height: auto;
    margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

section {
	margin: 40px;
}

table {
	border-collapse: collapse;
}

th {
    background-color: #0881A3;
    color: white;
}

td, th {
	border-radius: 0px;
	border-style: none;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	/* height: 10px; */
}

.hidden {
	display: none;
}

/*.requestBook {
	vertical-align: middle;
}*/

.btn.disabled {
	vertical-align: middle;
	text-align: center;
}

#uploaded {
	width: 30%;
	height: 110px;
}

td img {
	width: 50px;
	margin-top: 5px;
}

.books-available img {
	width: 50px;
	margin-top:5px;
	height:70px;
}

.shipping_information_form .row  {
	margin-left: 25px;
}

.books_in_circ {
	display: flex;
	margin: 5px;
	flex-direction: column;

}

.books_in_circ .card-horizontal {
	display: flex;
	margin: 5px;
	height: auto;	

}

.book_cover_thumbnail {
	max-height: inherit;
	width: auto;
}

.card-description {
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	max-width: 780px;
}

.books_in_circ .card {
	height: 176px;
}

.card .card-image {
	padding-left: 20px;

}

.card.horizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card .card-action {
	border: none;
}

.material-icons {
	float: left;
}

.nav-wrapper {
	margin-left: 3%;
	margin-right: 3%;
}

#searchResults {
	color: grey;
}

.row .col {
	padding: 10px 25px;
}

/* .row .col.l8 {
	margin-top: 15px;
	margin-bottom: 15px;
} */


.card {
	height: 150px;
}


.row #tableHeader {
	color: white;
}

#tagline {
	float: left;
	margin-left: 10px;
	margin-top: 4px;
	font-size: 15px;
	font-style: italic;
}

nav .brand-logo {
	position: relative;
}
/* 
.btn .labelprint {
	height: 60px;
	width: 100px;
} */

.bigButton .btn {
	height: 65px;
}

.btn {
	/*line-height: 15px; if this is active, it breaks the button spacing in book*/
    font-size: 13px;
}

#printIcon .material-icons{
	float: left;
	margin-left: 15px;
}

.btn .bookdetails {
	padding-right: 20px;
}

.bookCover {
	margin-top: 30px;
	height: auto;
	width: 200px;
}
/* 
.bookDesc {
	padding-left: 20px;
} */

.card.horizontal .card-image img{
	width: 70px;
}


.tableContentStyle {
	text-transform: capitalize;
}

.nav {
	text-align: right;
	height: 70px;
	line-height: 70px;
}

.menu {
	margin: 0 30px 0 0;
}

.menu a {
	clear: right;
	text-decoration: none;
	color: gray;
	/* margin: 0 10px; */
	line-height: 70px;
	padding: 25px;
}

label {
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}

#toggle {
	display: none;
}

.menu a:hover {
	background-color: rgb(224, 224, 224);
}

@media only screen and (max-width: 850px) {
	label {
		display: block;
		cursor: pointer;
	}
	.menu {
		text-align: center;
		width: 100%;
		display: none;

	}
	.menu a {
		display: block;
		border-bottom: 1px solid #EAEAEB;
		background-color: white;
		margin: 0;
	}

	.menu a:hover {
		background-color: rgb(235, 235, 235);
	}
	#toggle:checked + .menu {
		display: block;
	}
}


.input-field .material-icons {
	margin-top: 10px;
}