<html>
  <head>
    <title>BookChain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/icons/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Nunito" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  	
	<body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class = 'nav'>
              <div class="nav-wrapper">
                  <a href="{{ url_for('dashboard')}}"><img src="../static/img/v1_long.svg" class="brand-logo left" id = "nav-img" align="left"></a>
                  <!-- <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
                <!-- <p>decentralized book exchanges</p> -->
                <!-- {% block loginLink %} -->
                <!-- <a href="#" data-activates="mobile-menu" class="button-collapse" ><i class="material-icons">menu</i></a> -->
                <label for="toggle">&#9776;</label>
                <input type="checkbox" id="toggle"/>
                <div class ="menu">
                    <span align="left" id="login-name">Logged in as {{username}}</span>
                    <a href="#" id="login-name-small">Logged in as {{username}}</a>
                    <a href="{{ url_for('dashboard')}}">Dashboard</a>
                    <a href="{{ url_for('register')}}">Add Books</a>
                    <a href="{{ url_for('booksincirc')}}">Borrow Books</a>
                    <a href="{{ url_for('logout')}}">Logout</a>
                  <!-- <ul class="right hide-on-med-and-down">
                      <li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
                      <li><a href="{{ url_for('register')}}">Add Books</a></li>
                      <li><a href="{{ url_for('booksincirc')}}">Borrow Books</a></li>
                      <li><a href="{{ url_for('logout')}}">Logout</a></li>
                  </ul> -->
                </div>
                <!-- <ul class="side-nav" id="mobile-menu">
                    <li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
                    <li><a href="{{ url_for('register')}}">Add Books</a></li>
                    <li><a href="{{ url_for('booksincirc')}}">Borrow Books</a></li>
                    <li><a href="{{ url_for('logout')}}">Logout</a></li>
                </ul> -->
              </div>
            </div>
          <!-- {% endblock %} -->
        </nav>
      </div>
    </header>
    <div class="container">
    {% block content %}{% endblock %}
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/clamp.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script>
      // var elem = document.querySelector('.sidenav');
      //   var instance = new M.Sidenav(elem);

        // with jquery
        // $(document).ready(function(){
        //   console.log("hey");
        //   $(".button-collapse").sideNav();
        //   console.log("hi");
        // });
  </script>
</body>
  
  {% block additionallibraries %} {% endblock %}
  {% block variables %}{% endblock %}
</html>


