{% extends "base.html" %}
{% block variables %}
<!-- this script needs to go here because this is a nice way to use flask variables for styling. -->
<script type="text/javascript">
    var alreadyHave = {{ blocked }};
    var list = document.getElementsByClassName("active");
    for (var item of list) {
        if (alreadyHave.includes(parseInt(item.getAttribute("data-bookid")))) {
            item.classList.add("grey-text");
            item.classList.remove("requestBook");
        }
    }

</script>
{% endblock %}
{% block content %}

<form id='searchbar'>
    <div class="row s12 m12 l10 offset-l1 valign-wrapper">
        <div class="col s10 m10 l10 input-field">
            <input placeholder="Find a book you would like to read. eg: 'The Odyssey' or 'Shakespeare'" type="text" class="validate" id="circQuery" onkeyup="searchCirc()">
        </div>
        <div class = 'col s2 m2 l2 right-align'>
            <button class="btn waves-effect waves-light" type="submit"><i class="large material-icons">search</i>
            </button>
        </div>
    </div>
</form>
<div class="row">
    <div id="tableHeader" class="col s12 m12 l12">SEARCH RESULTS
    </div>
</div>
<div id="searchResults">

    {% for book in allBooks %}
    <div class = "row card horizontal s12 m12 l10 offset-l1 valign-wrapper">
        <div class="col s3 m2 l2">
                <a href="/book/{{book[0]}}"><img src="{{book[4]}}"></a>
        </div>
        <div class="col s5 m7 l8 left-align">
            <a href="/book/{{book[0]}}"><p><b>{{book[1]}}</b></p></a>
            <p><i>{{book[2]}}</i></p>
            <div class = "hide-on-small-only">
                <p class="card-description">{{book[5]}}</p>
            </div>
        </div>
        <div class="col s4 m3 l2 ">
            <i data-bookid="{{book[0]}}" class="material-icons small ourBlue-text bookdetails">search</i>
            <i data-bookid="{{book[0]}}" class="material-icons small ourBlue-text requestBook active">book</i>
        </div>
    </div>
    {% endfor %}
</div>
{% block additionallibraries %}
<script type="text/javascript" src="{{ url_for('static', filename='js/booksincirc.js') }}"></script>
{% endblock %}
{% endblock %}