{% extends "base.html" %}

{% block variables %}
<!-- this script needs to go here because this is a nice way to use flask variables for styling. -->
<script type="text/javascript">
    var blockRequest = {{ blockRequest }};
    // Disable the request button after the user click the button
    if (blockRequest == 1) {
        $( ".requestBook").addClass( "disabled" );
    } 
    // If a user visit the book page after requested the book, the button should change to 'cancel request' button
    else if (blockRequest == 2) {
        //  console.log("already requested");
         $( ".requestBook").remove();
         var button = document.createElement("button");
         button.innerHTML = "Cancel Request";
         button.className = "btn waves-effect waves-light";
         button.id ='cancelRequest';
         document.getElementById("bookImgButton").appendChild(button);
     } 

    // Books rating
    var userRating = {{ userRating }};
    if (userRating != 0) {
        $( "#1").removeClass("grey-text lighten-1").addClass( "amber-text" );
        $(".star").unbind('mouseenter mouseleave');
        $('.star').each(function() { this.style.pointerEvents = 'none';})
    }
    if (userRating > 1) {
        $( "#2").removeClass("grey-text lighten-1").addClass( "amber-text" );
    }
    if (userRating > 2) {
        $( "#3").removeClass("grey-text lighten-1").addClass( "amber-text" );
    }
    if (userRating > 3) {
        $( "#4").removeClass("grey-text lighten-1").addClass( "amber-text" );
    }
    if (userRating == 5) {
        $( "#5").removeClass("grey-text lighten-1").addClass( "amber-text" );
    }
</script>
{% endblock %}

{% block content %}
    <div class="row"> 
        <div class="col s12 m6 l3 center-align" id ="bookImgButton">
            <img src= {{ thumbnail }} alt='coverThumbnail' onerror=imgError(this) class="bookCover">
            <br>
            <button class="btn requestBook valign-wrapper" data-bookid={{book_id}}>Request</button>
        </div>
        <div class="col s12 m6 l6 left-align bookDesc">
            <h4>{{ title }}</h4>
            <h6>by {{ author }}</h6>
            <p>{{ short_description }}</p>
            <h6>Uploader: {{uploader}} </h6>
        </div>
        <div class="col l3 left-align">
            <h4>Reviews</h4>
            <i class="material-icons small star grey-text lighten-1" id="1">star</i>
            <i class="material-icons small star grey-text lighten-1" id="2">star</i>
            <i class="material-icons small star grey-text lighten-1" id="3">star</i>
            <i class="material-icons small star grey-text lighten-1" id="4">star</i>
            <i class="material-icons small star grey-text lighten-1" id="5">star</i>
            <br>
            {% if average_rating != "na" %}
            <h6> Average Rating: <span id="averageRating">{{average_rating}}</span></h6>
            {% endif %}
            {% if review != "" %}
            <p><i>"{{review}}" </i><br>- New York Times</p>
            {% endif %}
            <div class = "memberComments">    
                {% for comment in comments %}
                    <p><i>"{{comment[0]}}"</i><br>- {{comment[1]}}</p>
                {% endfor %}
            </div>
            <div class="input-field">
                <textarea id="comment" placeholder = "Share your thoughts!" class = "materialize-textarea " data-length="150"></textarea>
            </div>
            <button class="btn waves-effect waves-light addReview" type="submit">Add a review</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col l12">
            {% if stops == 1 %}
            <h4> I'm still at home. </h4>
            {% else %}
            <h4> I've traveled to {{stops}} locations!</h4>
            {% endif %}
            <h6>Current Location: {{location}}</h6>
        </div>
        
    </div>

    <div class="hide-on-small-only row">
        <div class="col m12 l12">
            <div id='map' style='width: 100%; height: 50%;'></div>
        </div>
    </div>
{% endblock %}

{% block additionallibraries %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bookpage.js') }}"></script>
{% endblock %}
