{% extends "base.html" %}
{% block variables %}
<!-- this script needs to go here because this is a nice way to use flask variables for styling. -->
<script type="text/javascript">
    var bookRequests = {{ requests }};
    var elements = document.getElementsByClassName("requestBook");
    var x = elements.length;
    console.log("bookRequests:");
    console.log(bookRequests);
    var i = 0;
    while (i < x - 1) {
        var result = elements[i].getAttribute("data-bookid");
        console.log(result);
        if (bookRequests.includes(parseInt(result))) {
            console.log("entering here.");
            elements[i].classList.add("grey-text");
            elements[i].classList.remove("requestBook");
        }
        i ++;
    }

</script>
{% endblock %}
{% block content %}

    <form class='container' id='searchbar'>
        <div class="row s12 m12 l12 valign-wrapper">
            <div class="col s10 m10 l10 input-field">
                <input placeholder="Find a book you would like to read. eg: 'The Odyssey' or 'C.S. Lewis'" type="text" class="validate" id="circQuery" onkeyup="searchCirc()">
            </div>
            <div class = 'col s2 m2 l2'>
                <button class="btn waves-effect waves-light" type="submit"><i class="large material-icons">search</i>
                </button>
            </div>
        </div>
    </form>


    <div class="books_in_circ">
        <h4 class="header">Books in Circulation</h4>
        {% for book in allBooks %}
        <div class="card horizontal">
            <div class="card-image col s2 m2 l2">
                <img class="book_cover_thumbnail" src="{{book[3]}}">
            </div>
            <div class="card-stacked">
                <div class="card-content s6 m7 l7 left-align">
                    <h6><b>{{book[1]}}</b></h6>
                    <p><i>{{book[2]}}</i></p>
                    <div class="card-description line-clamp">
                        <p>{{book[4]}}</p>
                    </div>
                </div>
            </div>
            <div class="card-action col s4 m3 l3">
<!--                 <div class="tooltip"> -->
                    <i data-bookid="{{book[0]}}" class="material-icons small ourBlue-text bookdetails">search</i>
<!--                     <span class="tooltiptext">Search</span> -->
                <i data-bookid="{{book[0]}}" class="material-icons small ourBlue-text requestBook">book</i>
                <!-- <button class = "btn bookdetails" data-bookid="{{book[0]}}">Details</button> -->
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}