{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col l4">
            <img src="../static/img/smaple-book.jpg">
        </div>
        <div class="col l8 left-align">
            <h4>HTML5 and CSS for Dummies</h4>
            <h6>by David Karlins</h6>
            <p>HTML5 and CSS3 have ushered in an entirely new era in web development and web design. This easy-to-understand full-color guide presents the elements of design and development as equal; therefore, both designers and developers will benefit from learning how to leverage the power behind HTML5 and CSS3. The two-page spreads and helpful insight show you how to use HTML5 and CSS3 in conjunction in order to create websites that possess both powerful function and beautiful design.</p>
            <h6>Book Owner: @koalaboy </h6>
            <h6>Current Location: Los Angeles, CA </h6>
            <a class="primary btn">Borrow</a>
        </div>
    </div>
    
    <div class="row left-align">
        <div class="col l12">
            <h4> I've traveled to 5 locations!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col l4">
            
            <img src="../static/img/book-map.png">
        </div>
        <div class="col l8"></div>
    </div>
{% endblock %}