{% extends "base.html" %}
{% block content %}

    <!-- <form method="POST" action="" class='container' id='searchbar'>
        <div class="row s12 m12 l12 valign-wrapper">
            <div class="col s10 m10 l10 input-field">
                <input placeholder="Find a book you would like to read. eg: 'The Odyssey'" name="search_query" type="text" class="validate">
            </div>
            <div class = 'col s2 m2 l2'>
                <button class="btn waves-effect waves-light" type="submit"><i class="large material-icons">search</i>
                </button>
            </div>
        </div>
    </form> -->


    <div class="books_in_circ">
        <h4 class="header">Books in Circulation</h4>
        {% for book in allBooks %}
        <div class="card horizontal">
            <div class="card-image">
                <img class="book_cover_thumbnail" src="{{book[3]}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h6><b>{{book[1]}}</b></h6>
                    <p><i>{{book[2]}}</i></p>
                    <div class="card-description">
                        <p>{{book[4]}}</p>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class = "btn bookdetails" data-bookid="{{book[0]}}">Details</button>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}