{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l6 left-align">
       <!-- <section class='books-requests '> -->
          <h5>My Requests</h5>
          <table>
            <col width="10%">
            <col width="30%">
            <col width="15%">
            <col width="10%">
            <tr>
              <th>Book</th>
              <th>Requested Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            {% for book in my_requests %}
            <tr>
              <td class = "hidden">{{book[4]}}</td>
              <td><img src="{{book[2]}}"></td>
              <td>{{book[5]}}</td>
              <td class="tableContentStyle">{{book[6]}}</td>
              {% if book[6] == "requested" %}
                <td><button class="btn waves-effect waves-light" id="cancelRequest">Cancel</button></td>            
                <!-- <td><a href="#" class = "tooltipped" data-position="bottom" data-tooltip="Cancel Request"><i class="material-icons ourBlue-text" id="cancelRequestIcon">clear</i></a></td> -->
              {% else %}
                <td><button class="btn" id="receive-book">Received Book</button></td>            
              {% endif %}
            </tr>
            {% endfor %}
           </table>
       <!-- </section> -->
    </div>
    <div class="col s12 m12 l6">
        <!-- <section class='request-from-others'> -->
            <h5>Requests From Others</h5>
            <table>
                <col width="10%">
                <col width="20%">
                <col width="20%">
                <col width="15%">
                <tr>
                    <th>Book</th>
                    <th>Requested By</th>
                    <th>Ship By</th>
                    <th>Action</th>
                </tr>
                {% for book in requests_from_others %}
                <tr>
                    <td class = "hidden">{{book[3]}}</td>
                    <td><img src="{{book[2]}}"></td>
                    <td>{{book[4]}}</td>
                    <td>{{book[5]}}</td>
                    <td><a href="#" class = "tooltipped" data-position="bottom" data-tooltip="Print shipping label"><i class="material-icons ourBlue-text labelprint">print</i></a>
                        <a href="#" class = "tooltipped" data-position="bottom" data-tooltip="Confirm shipment"><i class="material-icons ourBlue-text shipBook">check_box</i></a></td>
                </tr>
                {% endfor %}
            </table>
        <!-- </section> -->
    </div> 
</div>
<div class="row">
<div class="divider"></div>
<div class="col l12 left-align">
    <!-- <section class="books-borrowed"> -->
        <h5>Books I Currently Have</h5>
        <table id="borrowedAndContributed">
            <col width="10%">
            <col width="35%">
            <col width="20%">
            <col width="20%">
            <col width="15%">
            <tr>
                <th>Title</th>
                <th></th>
                <th>Status</th>
                <th>Book Owner</th>
                <th>Available</th>
            </tr>
            {% for book in owned_books %}
            <tr>
                <td class = "hidden">{{book[0]}}</td>
                <td>
                <img src="{{book[1]}}">
                </td>
                <td>{{book[2]}}<p>{{book[3]}}</p></td>
                <td class="tableContentStyle">{{book[4]}}</td>
                <td class="tableContentStyle">{{book[5]}}</td>
                <!-- <td>{% for num in book[3] %}
                <i class="material-icons tiny star amber-text lighten-1">star</i> -->
                <!-- {% endfor %} -->
                <!-- </td> -->
                <td>
                    <div class="switch">
                        <label>
                            Off
                            {% if book[4] == "available" %}
                            <input class="available-checkbox" type="checkbox" id="bookID-{{book[0]}}" checked>
                            {% else %}
                            <input class="available-checkbox" type="checkbox" id="bookID-{{book[0]}}">
                            {% endif %}
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <!-- {% for entry in uploads %}
            <tr>
                <td class = "hidden">{{entry[5]}}</td>
                <td>
                    <img src="{{entry[2]}}">
                </td>
                <td>{{entry[0]}}<p>{{entry[1]}}</p></td>
                <td class="tableContentStyle">{{entry[6]}}</td>
                <td>Me</td>
                <td>
                    <div class="switch">
                        <label>
                            Off
                            {% if entry[6] == "available" %}
                            <input class="available-checkbox" type="checkbox" id="bookID-{{entry[5]}}" checked>
                            {% else %}
                            <input class="available-checkbox" type="checkbox" id="bookID-{{entry[5]}}">
                            {% endif %}
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </td>
            </tr>
            {% endfor %} -->
        </table>
    <!-- </section> -->
    <!-- <section class="books-mybooks"> -->
        <h5>My Books</h5>
        <table>
            <col width="10%">
            <col width="30%">
            <col width="20%">
            <col width="15%">
            <col width="15%">
            <col width="10%">
            <tr>
                <th>Title</th>
                <th></th>
                <th>Current Location</th>
                <th>Average Rating</th>
                <th>Journey</th>
                <th>Remove</th>
            </tr>
            {% for entry in uploaded_books %}
            <tr>
                <td class = "hidden">{{entry[5]}}</td>
                <td>
                <img src="{{entry[2]}}">
                </td>
                <td>{{entry[0]}}<p>{{entry[1]}}</p></td>
                <td>{{entry[3]}}</td>
                <td>{% for num in entry[4] %}
                <i class="material-icons tiny star amber-text lighten-1">star</i>
                {% endfor %}
                </td>
                <td><button class = "btn details">See Details</button></td>
                <td><button class = "btn removebook">Remove</button></td>
            </tr>
            {% endfor %}
        </table>
    <!-- </section> -->
</div>
</div>  
{% endblock %}