{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col l6 left-align">
       <section class='books-requests '>
          <h5>My Requests</h5>
          <table>
            <col width="10%">
            <col width="20%">
            <col width="25%">
            <col width="25%">
            <col width="20%">
            <tr>
              <th>Title</th>
              <th></th>
              <th>Requested Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            {% for book in my_requests %}
            <tr>
              <td><img src="{{book[2]}}"></td>
              <td>{{book[0]}}<p>{{book[1]}}</p></td>
              <td>12/12/18</td>
              <td>Requested</td>
              <td><button class="btn">Received Book</button></td>
            </tr>
            {% endfor %}
           </table>
       </section>
    </div>
    <div class="col l6 left-align">
        <section class='request-from-others'>
            <h5>Requests From Others</h5>
            <table>
                <col width="10%">
                <col width="20%">
                <col width="25%">
                <col width="25%">
                <col width="20%">
                <tr>
                    <th>Title</th>
                    <th></th>
                    <th>Requested By</th>
                    <th>Ship By</th>
                    <th>Action</th>
                </tr>
                {% for book in requests_from_others %}
                <tr>
                    <td><img src="{{book[2]}}"></td>
                    <td>{{book[0]}}<p>{{book[1]}}</p></td>
                    <td>12/12/18</td>
                    <td>Requested</td>
                    <td><button class="btn labelprint">Print Shipping Label</button></td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div> 
</div>
<div class="row">
<div class="divider"></div>
<div class="col l12 left-align">
    <section class="books-borrowed">
        <h5>Books I Borrowed & Books I can Mail</h5>
        <table>
            <col width="10%">
            <col width="20%">
            <col width="25%">
            <col width="25%">
            <col width="20%">
            <tr>
                <th>Title</th>
                <th></th>
                <th>Status</th>
                <th>Book Owner</th>
                <th>Available</th>
            </tr>
            {% for book in borrowed %}
            <tr>
                <td class = "hidden">{{book[4]}}</td>
                <td>
                <img src="{{book[2]}}">
                </td>
                <td>{{book[0]}}<p>{{book[1]}}</p></td>
                <td>not sure what to put here yet.</td>
                <td>{% for num in book[3] %}
                <i class="material-icons tiny star amber-text lighten-1">star</i>
                {% endfor %}
                </td>
                <td>here should be available check box</td>
            </tr>
            {% endfor %}
        </table>
    </section>
    <section class="books-mybooks">
        <h5>My Books (Or, Books I care to view journey)</h5>
        <table>
            <col width="10%">
            <col width="20%">
            <col width="25%">
            <col width="25%">
            <col width="20%">
            <tr>
                <th>Title</th>
                <th></th>
                <th>Current Location</th>
                <th>Average Rating</th>
                <th>Journey</th>
            </tr>
            {% for entry in uploads %}
            <tr>
                <td class = "hidden">{{entry[5]}}</td>
                <td>
                <img src="{{entry[2]}}">
                </td>
                <td>{{entry[0]}}<p>{{entry[1]}}</p></td>
                <td>{{entry[3]}}</td>
                <td>{% for num in entry[4] %}
                <i class="material-icons tiny star amber-text lighten-1">star</i>
                {% endfor %}
                </td>
                
                <td><button class = "btn details">See Details</button></td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
</div>  
{% endblock %}