{% extends "base.html" %}
{% block content %}

<div class="navbar-fixed">
    <nav>
      	<div class="nav-wrapper">
			  <img src="../static/img/bookchain logo long.png" class="brand-logo left" id = "nav-img">
      		<ul id="nav-mobile" class="right hide-on-med-and-down">
        		<li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
        		<!-- <li><a href="{{ url_for('main')}}">Search</a></li> -->
        		<li><a href="#">Profile</a></li>
        		<li><a href="{{ url_for('logout')}}">Logout</a></li>

        		<li>
        			<form>
	        			<div class="input-field">
	          				<input id="search" type="search" placeholder="Find a book" required>

	          				<i class="material-icons">search</i>
	        			</div>
	      			</form>
        		</li>
      		</ul>
      	</div>
    </nav>
</div>



{% block page %}{% endblock %}
{% endblock %}
