{% extends "base.html" %}
{% block content %}

<div id="header">
</div>
<div id="form_shape">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="col s12">
            <div class="row">
                <div class="input-field col s11">
                    <i class="material-icons prefix">account_circle</i>
                    {{ form.username(placeholder = "Username", class ="materialize-textarea icon_prefix2") }}
                </div>
            </div>
            {% block email %}{% endblock %}
            <div class="row">
                <div class="input-field col s11">
                    <i class="material-icons prefix">lock</i>
                    {{ form.password(placeholder = "Password", class ="materialize-textarea icon_prefix2") }}
                </div>
            </div>
        </div>
        {% block button %} {% endblock %}
    </form>
    {% block alternate %}
    {% endblock %}
</div>
{% endblock %}