{% extends "base.html" %}

{% block variables %}
<!-- this script needs to go here because this is a nice way to assess flask variables. -->
<script type="text/javascript">
</script>
{% endblock %}

{% block content %}
<div class = "row">
	<div class = 'col l12'>
		<h1>{{ username }}</h1>
	</div>
</div>
<div class="row"> 
    <div class="col l3 m6 s12 center-align">
    	<h4>Uploaded books</h4>
    	<br>
    	{% for book in uploaded_books %}
    	<img id='uploaded' src="{{book[2]}}">
    	{% endfor %}
    </div>
    <div class="col l6 m6 s12 left-align offset-l1">
    	<h4>{{username}}'s books in the world</h4>
		<div id="map" style='width: 500px; height: 300px;'>
		</div>
    </div>


{% endblock %}

{% block additionallibraries %}
<script type="text/javascript" src="{{ url_for('static', filename='js/profilepage.js') }}"></script>
{% endblock %}