{% extends "base.html" %}

{% block variables %}
<!-- this script needs to go here because this is a nice way to assess flask variables. -->
<script type="text/javascript">
</script>
{% endblock %}

{% block content %}
<div class = "row">
	<div class = 'col l12'>
		<h1>{{ username }}</h1>
	</div>
</div>
<div class="row"> 
    <div class="col l3 m6 s12 center-align">
    	<h4>Uploaded books</h4>
    	<br>
    	{% for book in uploaded_books %}
    	<img id='uploaded' src="{{book[2]}}">
    	{% endfor %}
    </div>
    <div class="col l6 m6 s12 left-align">
    	This is where the books I currently have go. And we just keep writing to get a better sense for how long this space really is. 
    </div>



{% endblock %}

{% block additionallibraries %}
{% endblock %}