{% extends "loggedIn.html" %}

{% block page %}
<div id="header">
</div>

<div class="row s12 m12 l12 valign-wrapper container">
	<div class="col s10 m10 l10 offset-l1 input-field">
		<input placeholder="Find a book you own. eg: 'Harry Potter'" id="search_query" type="text" class="validate">
	</div>
	<div class = 'col s2 m2 l2'>
		<button class="btn waves-effect waves-light" type="text" id="registerBook"><i class="large material-icons">search</i>
			</button>
	</div>
</div>

<div id = "results" class = "container">
</div>

{% endblock %}
