{% extends "base.html" %}

{% block content %}
<div id="header">
</div>

<div class='container' id='searchbar'>
	<div class="row s12 m12 l12 valign-wrapper">
		<div class="col s10 m10 l10 input-field">
			<input placeholder="Find a book you would like to read. eg: 'Harry Potter'" id="search_query" type="text" class="validate">
		</div>
		<div class = 'col s2 m2 l2'>
			<button class="btn waves-effect waves-light" type="submit" name="action"><i class="large material-icons">search</i>
			</button>
		</div>
    </div>
</div>
{% endblock %}
