{% extends "notloggedin.html" %}

{% block email %}
<div class="row">
    <div class="input-field col">
        <i class="material-icons prefix">email</i>
        {{ form.email(placeholder = "Email", class ="materialize-textarea icon_prefix2") }}
    </div>
</div>
{% endblock %}

{% block button %}
<button class="btn waves-effect waves-light" type="submit" name="action">SIGN UP
    <i class="material-icons right">send</i>
</button>
{% endblock %}


{% block alternate %}
 <p>Already have an account? <a href="{{ url_for('login') }}" title="">Log in</a>  instead. </p>
{% endblock %}