{% extends "base.html" %}

{% block content %}
<h1>Create a new trip</h1>
<div class="login-form">
  <div class="form-group ">
    <form action="" method="post" name = "createTrip">
      {{ form.hidden_tag() }}
      <p>
        {{ form.tripname(placeholder = "trip name") }}
      </p>
      <p>
        {{ form.destination(placeholder = "destination") }}
      </p>
      <p>
        {{ form.friend() }}
      </p>
      <p>{{ form.submit(class = "log-btn") }}</p>
    </form>
  </div>
</div>
{% endblock %}
